---
import Section from "./Section.astro"
---

<Section
  title="Accesorios"
  color="black"
>
  <div slot="footer" class="gap-x-6 flex mx-auto">
    <a
      class="border-[2px] border-gray-900 bg-gray-900 text-xs rounded font-medium text-white px-12 py-2 inline-block transition-colors hover:border-gray-500 hover:bg-gray-500"
      href="#"
    >
      Comprar Ahora</a
    >
  </div>

  <img
    slot="background"
    src="/Charge.avif"
    alt="Accesorio"
    class="h-full w-full object-cover object-center"
  />
</Section>