---
import Section from "./Section.astro"
---

<Section
  title="Solar y Powerwall"
  color="black"
>
  <div slot="footer" class="gap-x-6 flex mx-auto">
    <a
      class="border-[2px] border-gray-900/60 bg-gray-900/80 backdrop-blur-sm text-xs rounded font-medium text-white px-20 py-2 inline-block transition-colors hover:border-gray-500 hover:bg-gray-500"
      href="#"
    >
      Saber más</a
    >
  </div>

  <img
    slot="background"
    src="/SolaryPowerwall.avif"
    alt="Accesorio"
    class="h-full w-full object-cover object-center"
  />
</Section>